/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
a{
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../fonts/iconfont.ttf?t=1663376773639') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianmaobaoyouqia:before {
  content: "\f008a";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-tianjia:before {
  content: "\e657";
}

.icon-31sousuo:before {
  content: "\f01fd";
}

.icon-xiajiantou:before {
  content: "\e6cc";
}

.icon-yuangou:before {
  content: "\e60e";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-youjiantou:before {
  content: "\e699";
}

.icon-7tianwuliyoutuihuo:before {
  content: "\e60f";
}

.icon-youjiantou1:before {
  content: "\e6ab";
}

.icon-sousuo-xianxing:before {
  content: "\e8b8";
}

.icon-icon_tianjia:before {
  content: "\eb89";
}

.icon-zhengpinbaozheng:before {
  content: "\e639";
}

.icon-baoyou:before {
  content: "\e63e";
}

.icon-shandianfahuo:before {
  content: "\e632";
}

.icon-shandianfahuo1:before {
  content: "\e643";
}

.icon-tianjia1:before {
  content: "\e60b";
}

.icon-gou:before {
  content: "\e867";
}

.icon-weixinzhifu:before {
  content: "\e607";
}

.icon-zhifubao:before {
  content: "\e68a";
}

.icon-gouxuan:before {
  content: "\e6ce";
}

.icon-youjiantou2:before {
  content: "\e62b";
}


